.badge {
    font-weight: 400;
    font-size: 12px;
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    display: grid;
    place-content: center;    
}

@each $color, $value in $theme-colors {
  @include badge-variant($color, $value);
}