*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family-gibson), var(--font-family-sans-serif);
    color: var(--default-color);    
}

.main-container {
    $bg-color: var(--gray);
    background-color: $bg-color;
    box-shadow: 0 0 0 100vmax $bg-color;
    clip-path: inset(0 -100vmax);

    padding-block: 20px 24px;

    @include media('md') {
        padding-block: 40px;
    }
}

img {
    display: block;
}