@mixin media($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin generate-gutters($prefix, $property) {
  @each $index, $value in $gutters {
    .#{$prefix}-#{$index},
    .#{$prefix}x-#{$index} {
      --#{$property}-x: #{$value};
    }

    .#{$prefix}-#{$index},
    .#{$prefix}y-#{$index} {
      --#{$property}-y: #{$value};
    }
  }
}

@mixin generate-gaps($type, $property) {
  @each $index, $value in $gutters {
    .#{$type}-#{$index} {
      #{$property}: #{$value};
    }
  }
}

@mixin generate-spacer($prefix) {
  @each $index, $value in $gutters {
    .#{$prefix}-#{$index} {
      padding: #{$value};
    }

    .#{$prefix}x-#{$index} {
      padding-left: #{$value};
      padding-right: #{$value};
    }

    .#{$prefix}y-#{$index} {
      padding-top: #{$value};
      padding-bottom: #{$value};
    }
  }
}

@mixin button-variant($color, $value) {
  $text-color: if(str-index($color, "gray") != null, var(--black-200), var(--white));

  .btn-#{$color} {
    color: $text-color;
    background-color: $value;
    border-color: $value;

    &:hover {
      color: $text-color;
      background-color: $value;
      border-color: $value;
    }
  }
}

@mixin badge-variant($color, $value) {
  $text-color: if(str-index($color, "gray") != null, var(--black-200), var(--white));

  .badge-#{$color} {
    color: $text-color;
    background-color: $value;
  }
}