.account-overview {
    h1 {
        margin-bottom: 16px;
        font-size: 24px;    

        @include media('md') {
            margin-bottom: 24px;
            font-size: 32px;
        }
    }

    .card {
        height: 100%;
        
        .card-body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        p {
            margin-bottom: 24px;
        }

        a:not(.btn) {
            color: inherit;
            font-style: normal;
            text-decoration: underline;
            font-weight: 600;
        }

        .btn {
            margin-top: auto;
        }
    }

    .alert {
        margin-block: 16px 0;
    }

    .form-group {
        margin-bottom: 0;
    }        

    .custom-control-label {
        cursor: pointer;
    }

    .custom-control-input {

        &:checked~.custom-control-label::before {
            border-color: var(--dark-blue);
            background-color: var(--dark-blue);
        }
    
        &:focus:not(:checked)~.custom-control-label::before {
            border-color: var(--dark-blue);
        }
    
        &:focus~.custom-control-label::before {
            box-shadow: 0 0 0 0.2rem rgba(8,26,68,0.25);
        }
    }

}